.container
    .row
        - @restaurants["data"].each do |restaurant|
            .col-sm-3
                .card.h-100{:style => "width: 18rem;"}
                    - if  restaurant["photo"] == nil || restaurant["photo"]["images"] == nil
                        %img.card-img-top{:alt => "Restaurant image", :src => "https://thumbs.dreamstime.com/z/not-available-red-rubber-stamp-over-white-background-87242466.jpg", :width =>"256", :height=>"171"}
                    - elsif restaurant["photo"]["images"]["large"] != nil
                        %img.card-img-top{:alt => "Restaurant image", :src => restaurant["photo"]["images"]["large"]["url"], :width =>"256", :height=>"171"}
                    - elsif restaurant["photo"]["images"]["medium"] != nil
                        %img.card-img-top{:alt => "Restaurant image", :src => restaurant["photo"]["images"]["medium"]["url"], :width =>"256", :height=>"171"}            
                    - elsif restaurant["photo"]["images"]["small"] != nil
                        %img.card-img-top{:alt => "Restaurant image", :src => restaurant["photo"]["images"]["small"]["url"], :width =>"256", :height=>"171"}
                    - elsif restaurant["photo"]["images"]["original"] != nil
                        %img.card-img-top{:alt => "Restaurant image", :src => restaurant["photo"]["small"]["original"], :width =>"256", :height=>"171"}          
                    - else
                        %img.card-img-top{:alt => "Restaurant image", :src => "https://thumbs.dreamstime.com/z/not-available-red-rubber-stamp-over-white-background-87242466.jpg", :width =>"256", :height=>"171"}
                    .card-body
                        %h5.card-title #{restaurant["name"]}
                        %p.card-text #{restaurant["location_id"]}
                        %a.btn.btn-primary{:href => "#"} Go somewhere


