Heatmap
<br>
<br>
<br>
%input{:type => "number", :type => "text", :id => "filter_input", :placeholder => "Search Area to Filter", :class => "form-control mb-2"}
= button_tag 'Search', class: 'btn btn-success btn-block', id: "applyFilter"

%head
  %title Basic Embed
  %script{:src => "https://public.tableau.com/javascripts/api/tableau-2.min.js", :type => "text/javascript"}
  :javascript
    let viz
    //function for viz
    function initViz(containerDiv, url, options) {
        viz = new tableau.Viz(containerDiv, url, options);
    }
    function applyOptions() {
        var containerDiv = document.getElementById("vizContainer"),
            url = "https://public.tableau.com/views/Population-LSOAHeatMap/Sheet1?:language=gb-EN&publish=yes&:display_count=n&:origin=viz_share_link",
            options = {
                // Options to show area LSOA code for user when at start
                "Lsoa11Nm" : ["Canterbury 006A","Burnley 009B"],
                width: window.innerWidth,
                height: window.innerHeight,
                device: "desktop",
                hideTabs: true,
                onFirstInteractive: function () {
                    console.log("Run this code when the viz has finished loading.");
                }
            };

    initViz(containerDiv, url, options);
    }

    // apply filter after webpage loaded
    function applyFilter(){
        
        // get the values from input
        const filterInput = document.getElementById('filter_input').value;
        // get workbook obj
        const workbook = viz.getWorkbook();
        // get active sheet in window - which is dashboard
        const activeSheet = workbook.getActiveSheet();
        // define sheet to filter
        const sheetToFilter = activeSheet;
        
        sheetToFilter.applyFilterAsync("Lsoa11Nm",filterInput,tableau.FilterUpdateType.REPLACE);
        console.log(activeSheet);
    }

    // Function to listen to adjustment of window
    window.addEventListener("resize", () => {
        console.log(
            `Resizing the window ${window.innerHeight}, ${window.innerWidth}`
        );
        autoResize();
    });

    // Resize dashboard window
    function autoResize(){
        const height = window.innerHeight;
        const width = window.innerWidth;
        viz.setFrameSize(width, height);
    }

    document.getElementById('applyFilter').addEventListener('click',function(){
        applyFilter();
    })

%body{:onload => "applyOptions();"}


